[v-cloak] {
  display: none;
}

body {
  font-family: "Cabin", sans-serif;
}

h1, .shadow {
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.808);
}

/* Trying to get a fixed background that works in iOS */
body {
  background-image: url("https://kyran88.github.io/website/images/balkan-campers-1589391-unsplash.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Now lets talk about bubbles! */
.bot-bubble, .customer-bubble {
  position: relative;
  padding: 10px 20px;
  border-radius: 25px;
  width: auto;
  max-width: 300px;
  margin-bottom: 25px;
  clear: both;
}

/* First part of the tail shape */
.bot-bubble:before, .customer-bubble:before {
  content: "";
  position: absolute;
  z-index: 2;
  bottom: -2px;
  height: 20px;
  -webkit-transform: translate(0, -2px);
}

/* white overlay to make the tail shape */
.bot-bubble:after, .customer-bubble:after {
  content: "";
  position: absolute;
  z-index: 3;
  width: 26px;
  height: 20px;
  bottom: -2px;
  background: white;
  -webkit-transform: translate(-30px, -2px);
}

.bot-bubble {
  margin-right: 20px;
  color: white;
  background: #7957d5;
}
.bot-bubble:before {
  right: -7px;
  border-right: 20px solid #7957d5;
  border-bottom-left-radius: 16px 14px;
}
.bot-bubble:after {
  right: -56px;
  border-bottom-left-radius: 10px;
}

.customer-bubble {
  margin-left: 20px;
  background: #e5e5ea;
  color: black;
}
.customer-bubble:before {
  left: -7px;
  border-left: 20px solid #e5e5ea;
  border-bottom-right-radius: 16px 14px;
}
.customer-bubble:after {
  left: 4px;
  border-bottom-right-radius: 10px;
}

.suggestions {
  display: block;
  clear: both;
}

.expand-enter-active,
.expand-leave-active {
  transition: all 0.6s ease;
  max-height: 1200px;
  overflow: hidden;
}

.expand-enter,
.expand-leave-to {
  max-height: 0;
  opacity: 0;
}

.drawer-container {
  transition: all 0.5s ease;
  margin-top: 6vh;
  margin-bottom: 20px;
}

/*Profile Card Custom Style 5*/
.profile-card-5{
    margin-top:20px;
}
.profile-card-5 .btn{
    border-radius:2px;
    text-transform:uppercase;
    font-size:12px;
    padding:7px 20px;
}
.profile-card-5 .card-img-block {
    width: 91%;
    margin: 0 auto;
    position: relative;
    top: -20px;
    
}
.profile-card-5 .card-img-block img{
    border-radius:5px;
    box-shadow:0 0 10px rgba(0,0,0,0.63);
}
.profile-card-5{
    background-color:#4E5E30;
    border-color:#4E5E30;
}
