
h2 {
  Margin-top: 50px;
}

div.calcContainer {
	padding: 0 10px 0 auto;
  border: 1px solid #333;
	border-radius: 4px;
}


div.calculator {
	width: auto;
	padding: 10px;
	margin: 10px;
	/* The following came from Microsoft's CSS gradient tool */

}



div.calcHeading {
	width: auto;
	height: 80px;
}

div.calcCellHeading {
	width: 300px;
	height: 40px;
	margin-top: 6px;
  margin-bottom:10px;
	float: left;
	text-align: center;
	font-weight: bold;
}


div.calcCell {
	width: auto;
	height: 50px;
  margin-top: 15px;
}

.calcCell p {
	padding-top: 10px;
}

div.calcTitle {
	width: 150px;
	margin-top: 6px;
	float: left;
	text-align: right;
	font-weight: bold;
}

div.calcInput {
	width: auto;
	margin-top: 2px;
  margin-left: 85px;
	float: left;
	text-align: left;
}


div.center { text-align: center; }
